body {
    background-color: #2e2c2cfb!important;
}

table {
    width: 100%;
    border-collapse: collapse;
}
    
table th,
table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
    
table th {
    background-color: #3c8c30!important;
    color: #fff;
}

img {
    pointer-events: none;
}

h1 {
    color: #3c8c30;
}

h2 {
    color: #3c8c30;
}

h3 {
    color: #fff!important;
}

.navbar {
    background-color: #3c8c30 !important;
}

hr {
    border: #f5f0f0 solid 1px;
}

i {
    font-size: 30px;
    color: #3c8c30;
}

a {
    text-decoration: none;
    color: #3c8c30;
}

table {
    color: #f8f6f6f4 !important;
}

table td {
    border-top-width: 1px !important;
}

.table_left {
    /*width: 25% !important;*/
    /*font-weight: bold !important;*/
    background-color: #f0f0f0 !important;
}

.custom-card {
    padding: 10px !important;
    
}

.custom-card i {
    font-size: 30px;
    color: #3c8c30;
}

.btn-primary {
    background-color: #3c8c30 !important;
    --bs-btn-border-color: none !important;
}
.btn-primary:hover {
    background-color: #f0f0f0  !important;
}

.navbar a {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 24px !important; 
}

#map, #user_map {
    width: 100%;
}

#myChart {
    width: 100%!important;
    height: 100%!important;
}